<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic v5.4.2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <cdk-virtual-scroll-viewport
    *ngIf="movieRows.length > 0"
    style="height: 100%"
    [itemSize]="267"
  >
    <ion-grid>
      <ion-row *cdkVirtualFor="let movieRow of movieRows">
        <ion-col *ngFor="let movie of movieRow.movies" size="6">
          <app-movie-item [movie]="movie"></app-movie-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </cdk-virtual-scroll-viewport>
</ion-content>
